* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000; }

html, body {
  height: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0 15px;
  color: #000;
  font-size: 16px;
  width: 100%;
  height: 60px;
  border: 1px solid #828282;
    border-radius: 2px;
  background: transparent; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #4F4F4F; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #4F4F4F; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #4F4F4F; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #4F4F4F; }

label {
  display: block;
  width: 100%;
  margin: 0 0 30px;
  position: relative; }

.label-group input {
  padding: 24px 15px 12px; }

.input-text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px 15px 0;
  font-size: 14px;
  font-weight: 500;
  color: #4F4F4F; }

button, .btn {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-family: "Roboto", sans-serif;
  padding: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

form .btn {
  width: 100%; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  color: #333333;
  font-size: 14px;
  margin: 20px 0 0; }

.checkbox-inp {
  display: none; }

.checkbox-custom {
  width: 20px;
  height: 20px;
  min-width: 20px;
  cursor: pointer;
  background: url("../img/no-checkbox.svg") no-repeat center;
    background-size: contain;
  margin: 0 10px 0 0; }

.checkbox-inp:checked + .checkbox-custom {
  background: url("../img/checkbox.svg") no-repeat center;
    background-size: contain; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 60px;
  border-radius: 5px; }

.btn-accent {
  background: #2862AC;
  color: #fff; }
  .btn-accent:hover {
    background: #0D2C56;
    color: #fff; }

h1 {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
  line-height: 120%;
  margin: 0 0 37px; }

h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 150%;
  color: #0D2C56;
  width: 100%;
  margin: 0 0 36px; }

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #0D2C56;
  line-height: 150%;
  margin: 0 0 15px; }

h4 {
  font-weight: bold;
  color: #111111; }

.box-text {
  line-height: 120%;
  font-size: 18px;
  color: #4F4F4F; }
  .box-text p {
    margin: 0 0 20px; }
    .box-text p:last-child {
      margin: 0; }

.text {
  font-size: 16px;
  line-height: 120%;
  color: #4F4F4F; }
  .text p {
    margin: 0 0 20px; }
    .text p:last-child {
      margin: 0; }
  .text ul {
    margin: 0 0 20px; }

.bg-grey {
  background: #F8F8F8; }

.container {
  max-width: 1200px; }

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  padding: 20px 30px;
  z-index: 3;
  height: 100%;
  overflow-y: auto;
  max-width: 290px;
  width: 100%;
  -webkit-box-shadow: 0 10px 30px #0D2C56;
          box-shadow: 0 10px 30px #0D2C56;
  display: none; }
  .mobile-menu .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0; }
    .mobile-menu .menu li {
      margin: 0 0 20px; }
  .mobile-menu .logo-icon {
    width: 50px;
    min-width: 50px;
    height: 50px; }
  .mobile-menu .logo {
    font-size: 12px; }
  .mobile-menu .header-item {
    margin: 0 0 20px; }

.btn-close {
  margin: 0 0 20px auto;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 2px;
    background: #2862AC;
    border-radius: 2px; }
  .btn-close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .btn-close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  font-size: 14px; }
  .logo:hover {
    color: #000; }

.logo-title {
  font-size: 15px;
  font-weight: 900;
  color: #2862AC; }

.logo-icon {
  width: 60px;
  height: 60px;
  min-width: 60px; }

.logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 0 6px; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto; }
  .menu li {
    margin: 0 30px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #333; }
      .menu li a:hover {
        color: #2862AC; }

.breadcrumb {
  margin: 0;
  background: transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  color: #1D1D1B; }
  .breadcrumb a, .breadcrumb span {
    color: #1D1D1B; }
  .breadcrumb a:hover {
    color: #2862AC; }

.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.breadcrumb-item.active {
  color: #1D1D1B; }

.breadcrumb-item + .breadcrumb-item {
  padding: 0; }

.breadcrumb-item + .breadcrumb-item::before {
  content: '';
  border-radius: 50%;
  background: #1D1D1B;
  width: 3px;
  height: 3px;
  min-width: 3px;
  padding: 0;
  margin: 0 5px; }

.d-inline {
  display: inline-block; }

.links-accent {
  color: #2862AC; }

.color-red {
  color: #EB5757; }

.color-grey {
  color: #333333; }
  .color-grey:hover {
    color: #2862AC; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

header {
  background: #fff;
  padding: 20px 0;
  -webkit-box-shadow: 10px 10px 30px #F4F4F4;
          box-shadow: 10px 10px 30px #F4F4F4; }

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 10px;
  font-size: 14px;
  color: #4F4F4F; }
  .header-item:first-child {
    margin: 0; }
  .header-item__icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    fill: #2862AC;
    margin: 0 7px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header-item__content a {
    font-size: 16px;
    font-weight: bold;
    color: #4F4F4F;
    margin: 3px 0 0; }

.btn-burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20px;
  height: 14px;
  cursor: pointer;
  margin: 0 0 0 20px; }
  .btn-burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #2862AC; }

.line-top {
  padding: 25px 0; }
  .line-top h2 {
    margin: 16px 0 0;
    text-transform: uppercase;
    color: #1D1D1B;
    font-size: 36px;
    line-height: 120%; }

.page {
  padding: 65px 0 28px; }

.page-contacts {
  padding: 65px 0 140px; }
  .page-contacts .header-item {
    margin: 37px 0 0; }
    .page-contacts .header-item h4 {
      margin: 0 0 5px; }
  .page-contacts .header-item__links {
    color: #111; }
  .page-contacts .header-item__content p, .page-contacts .header-item__content a {
    opacity: .75; }

.list-pay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0 20px; }
  .list-pay li {
    margin: 0 50px 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 34px; }
    .list-pay li img {
      max-height: 100%; }

.home {
  padding: 65px 0 86px; }
  .home h1 {
    margin: 0 0 10px; }

.main-slider {
  margin: 11px 0 0;
  width: 100%; }

.main-slider-item__images {
  position: relative;
  z-index: 1;
  width: 100%; }
  .main-slider-item__images h3 {
    margin: 14px 0 20px;
    color: #333333;
    font-size: 28px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .main-slider-item__images h3 span {
      margin: 0 0 0 auto;
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: #4F4F4F;
      line-height: 1; }

.img-map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }

.statistics-box {
  margin: 45px 0 0;
  color: #2862AC;
  font-size: 14px;
  font-weight: 500; }

.statistics-box-num {
  color: #0D2C56;
  font-size: 36px;
  font-weight: bold; }

.statistics-box-num.color-red {
  color: #EB5757; }

.attention {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 24px;
  color: #4F4F4F;
  font-size: 12px; }
  .attention-icon {
    margin: 0 6px 0 0;
    width: 24px;
    min-width: 24px;
    height: 24px;
    stroke: #EB5757;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    fill: none; }

.main-slider-item .box-text {
  color: #333333;
  margin: 0 0 16px; }
  .main-slider-item .box-text strong {
    font-weight: 500; }

.attention-total {
  font-size: 16px; }

.main-slider-item__img {
  margin: 0 auto;
  max-width: 429px; }

.advantages {
  padding: 65px 0; }
  .advantages h2 {
    margin: 0 0 30px; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 30px;
  color: #4F4F4F;
  font-size: 14px; }
  .advantages-box__icon {
    width: 77px;
    min-width: 77px;
    margin: 0 13px 0 0;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .advantages-box h3 {
    font-size: 20px;
    color: #000;
    margin: 0 0 4px; }

.what-for {
  padding: 65px 0;
  position: relative;
  overflow: hidden; }

.what-for-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -30px 0 0; }

.what-for-item {
  color: #4F4F4F;
  font-size: 18px;
  margin: 0 0 30px; }
  .what-for-item h3 {
    font-size: 28px;
    font-weight: 500;
    color: #0D2C56;
    margin: 0 0 10px; }

.reviews {
  padding: 65px 0; }
  .reviews h2 {
    margin: 0; }

.reviews-box {
  margin: 36px 0 0;
  padding: 42px 20px 35px;
  background: #FFFFFF;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer; }
  .reviews-box:hover {
    -webkit-filter: drop-shadow(-2px 10px 30px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(-2px 10px 30px rgba(0, 0, 0, 0.15)); }
  .reviews-box h3 {
    font-size: 18px;
    margin: 32px 0 0;
    color: #333333; }

.question {
  padding: 65px 0 50px; }

.question-box {
  margin: 0 0 40px;
  font-size: 18px;
  color: #4F4F4F; }

footer {
  background: #0D2C56;
  color: #fff;
  padding: 25px 0;
  -webkit-box-shadow: 10px 10px 30px #F4F4F4;
          box-shadow: 10px 10px 30px #F4F4F4; }
  footer .header-item {
    color: #fff; }
    footer .header-item__content a {
      color: #fff; }
    footer .header-item__icon {
      fill: #fff; }
  footer .menu li a {
    color: #fff; }
  footer .logo {
    color: #fff; }
    footer .logo:hover {
      color: #fff; }
  footer .logo-title {
    color: #F2F2F2; }

.select2-container--default .select2-selection--single {
  background: transparent;
  border: 1px solid #828282;
    border-radius: 2px;
  height: 60px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 100%;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  color: #000; }
  .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  background: url("../img/arrow-bottom.svg") no-repeat center;
    background-size: contain;
  border: none; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none; }

.select2-search--dropdown {
  display: none; }

.select2-container--open .select2-dropdown--below {
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  background: #fff; }

.select2-results__option {
  padding: 11.5px 23px;
  color: #4F4F4F;
  font-size: 14px; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #F2F2F2;
  color: #4F4F4F; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 5px; }

.select2-results {
  padding: 10px 13px 37px 0; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 296px; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 3px;
    height: 10px; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
    background-color: #2862AC; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track-piece {
    background-color: #C4C4C4; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    background-color: #2862AC; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-corner {
    background-color: #C4C4C4; }
  .select2-container--default .select2-results > .select2-results__options::-webkit-resizer {
    background-color: #2862AC; }

.ui-widget.ui-widget-content {
  border: none;
    border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  padding: 10px 35px; }

.ui-datepicker .ui-datepicker-header {
  padding: 0;
  border: none;
    border-radius: 0;
  background: transparent;
  color: #4F4F4F;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 auto; }

.ui-widget-header .ui-icon {
  background: url("../img/arrow-right.svg") no-repeat center;
    background-size: 100%; }

.ui-icon {
  width: 100%;
  height: 100%; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  margin: 0;
  position: relative;
  top: 0;
  -webkit-transform: none;
          transform: none;
  left: 0;
  right: 0; }

.ui-datepicker .ui-datepicker-next {
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.ui-datepicker .ui-datepicker-prev {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .ui-datepicker .ui-datepicker-prev .ui-icon {
    background: url("../img/arrow-left.svg") no-repeat center;
      background-size: 100%; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }
  .ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
    background: transparent;
    border: none;
      border-radius: 0; }

.ui-datepicker th {
  padding: 8px 7px;
  font-weight: normal; }

.ui-datepicker-week-end:last-child {
  color: #EB5757; }
  .ui-datepicker-week-end:last-child a {
    color: #EB5757; }

.ui-datepicker table {
  font-size: 12px;
  font-weight: normal;
  margin: 0; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
    border-radius: 0;
  margin: 0;
  background: transparent; }

.ui-datepicker td span, .ui-datepicker td a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  color: #333333; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .5; }

.report-page {
  background: #E5E5E5;
  padding: 30px 0 0; }
  .report-page .attention {
    font-weight: 600;
    color: #4F4F4F;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 40px 15px 50px 25px; }
  .report-page .attention-icon {
    fill: #EB5757;
    width: 36px;
    height: 36px;
    min-width: 36px;
    margin: 0 14px 0 0; }
  .report-page .container {
    max-width: 970px; }
  .report-page .attention-footer {
    padding: 28px 80px 30px 20px;
    margin-bottom: 0; }

.report-box {
  width: 100%; }

.report-box-title {
  border-radius: 10px 10px 0 0;
  color: #fff;
  background: #2862AC;
  padding: 26px 30px 20px 30px; }
  .report-box-title h2 {
    font-size: 36px;
    margin: 0;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase; }
  .report-box-title h3 {
    font-size: 24px;
    color: #fff;
    margin: 0;
    line-height: 1.2; }

.report-page-wrapper {
  background: #fff;
  border-radius: 10px 10px 0 0; }

.report-box-content {
  position: relative;
  padding: 47px 23px 25px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  z-index: 1; }
  .report-box-content h4 {
    margin: 0 0 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600; }
  .report-box-content .attention {
    margin: 122px 0 0;
    max-width: 680px;
    width: 100%;
    color: #4F4F4F;
    font-size: 13px;
    font-weight: normal;
    padding: 0; }

.report-box-bg {
  position: absolute;
  right: -80px;
  top: -20px;
  max-width: 523px;
  width: 100%;
  opacity: .1; }

.list-info {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  color: #4F4F4F; }
  .list-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 15px; }
    .list-info li p {
      font-weight: bold;
      margin: 0 5px 0 0; }

.report-box-sub .report-box-content {
  padding: 50px 10px 40px;
  overflow: visible; }

.report-box-img {
  position: absolute;
  right: 10px;
  top: -50px;
  max-width: 150px;
  width: 100%; }

.table-info {
  background: transparent;
  max-width: 690px;
  width: 100%; }
  .table-info li {
    color: #4F4F4F;
    padding: 19px 10px 19px 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .table-info li:nth-child(odd) {
      background: #F8F8F8; }
    .table-info li span {
      width: 30%;
      display: inline-block; }
    .table-info li strong {
      font-weight: 600; }
    .table-info li p {
      width: 70%;
      font-weight: bold; }
    .table-info li .color-grey {
      color: #219653; }

.color-green {
  color: #219653; }

.attention-footer {
  padding: 28px 80px 30px 20px;
  margin: 20px 0 30px;
  -webkit-box-shadow: 0px 27px 80px rgba(0, 0, 0, 0.07), 0px 13.4561px 29.2013px rgba(0, 0, 0, 0.046714), 0px 8.39557px 14.1767px rgba(0, 0, 0, 0.0368662), 0px 5.27319px 6.94968px rgba(0, 0, 0, 0.0282676), 0px 2.65096px 2.74791px rgba(0, 0, 0, 0.0176825);
          box-shadow: 0px 27px 80px rgba(0, 0, 0, 0.07), 0px 13.4561px 29.2013px rgba(0, 0, 0, 0.046714), 0px 8.39557px 14.1767px rgba(0, 0, 0, 0.0368662), 0px 5.27319px 6.94968px rgba(0, 0, 0, 0.0282676), 0px 2.65096px 2.74791px rgba(0, 0, 0, 0.0176825);
  background: rgba(111, 207, 151, 0.15); }

.report-box-sub-title {
  padding: 16px 30px;
  border-radius: 0;
  background: #2D9CDB;
  position: relative; }

.ball {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 20px;
  -webkit-box-shadow: 0px 27px 80px rgba(0, 0, 0, 0.07), 0px 13.4561px 29.2013px rgba(0, 0, 0, 0.046714), 0px 8.39557px 14.1767px rgba(0, 0, 0, 0.0368662), 0px 5.27319px 6.94968px rgba(0, 0, 0, 0.0282676), 0px 2.65096px 2.74791px rgba(0, 0, 0, 0.0176825);
          box-shadow: 0px 27px 80px rgba(0, 0, 0, 0.07), 0px 13.4561px 29.2013px rgba(0, 0, 0, 0.046714), 0px 8.39557px 14.1767px rgba(0, 0, 0, 0.0368662), 0px 5.27319px 6.94968px rgba(0, 0, 0, 0.0282676), 0px 2.65096px 2.74791px rgba(0, 0, 0, 0.0176825);
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #2862AC;
    border-radius: 10px;
  background: #fff;
  color: #2862AC;
  font-size: 48px;
  font-weight: 900;
  padding: 22px 18px; }

.balls-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: #fff;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  overflow: hidden; }
  .balls-box:hover {
    -webkit-box-shadow: 0px 27px 80px rgba(0, 0, 0, 0.07), 0px 13.4561px 29.2013px rgba(0, 0, 0, 0.046714), 0px 8.39557px 14.1767px rgba(0, 0, 0, 0.0368662), 0px 5.27319px 6.94968px rgba(0, 0, 0, 0.0282676), 0px 2.65096px 2.74791px rgba(0, 0, 0, 0.0176825);
            box-shadow: 0px 27px 80px rgba(0, 0, 0, 0.07), 0px 13.4561px 29.2013px rgba(0, 0, 0, 0.046714), 0px 8.39557px 14.1767px rgba(0, 0, 0, 0.0368662), 0px 5.27319px 6.94968px rgba(0, 0, 0, 0.0282676), 0px 2.65096px 2.74791px rgba(0, 0, 0, 0.0176825); }

.balls-box-val {
  width: 130px;
  padding: 13px 17px 13px 21px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 150%;
  font-family: "Roboto", sans-serif; }

.balls-box-content {
  width: calc(100% - 130px);
  padding: 20px 5px 18px 20px; }

.balls-box-red {
  border-color: #EB5757; }
  .balls-box-red .balls-box-val {
    background: #EB5757; }

.balls-box-yellow {
  border-color: #F2C94C; }
  .balls-box-yellow .balls-box-val {
    background: #F2C94C; }

.balls-box-grey {
  border-color: #BDBDBD; }
  .balls-box-grey .balls-box-val {
    background: #BDBDBD; }

.balls-box-light-green {
  border-color: #6FCF97; }
  .balls-box-light-green .balls-box-val {
    background: #6FCF97; }

.balls-box-green {
  border-color: #27AE60; }
  .balls-box-green .balls-box-val {
    background: #27AE60; }

.report-box-balls {
  margin: 30px 0 0; }
  .report-box-balls .attention {
    margin: 45px 0 0;
    max-width: none;
    padding: 0; }
  .report-box-balls .report-box-content {
    padding: 40px 20px 25px; }

.statistics-box .report-box-content {
  padding: 20px 0 40px; }

.table {
  width: 100%;
  margin: 0;
  color: #4F4F4F;
  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto", sans-serif; }
  .table th, .table td {
    width: 77px;
    background: #F2F2F2;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #fff;
    font-size: 13px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    color: #4F4F4F; }
  .table .bg-tr-table {
    background: transparent; }
  .table .bg-red-table {
    background: #EB5757; }
  .table .bg-green-table {
    background: #27AE60; }
  .table thead {
    border: none; }
    .table thead td, .table thead th {
      vertical-align: top;
      font-size: 13px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      border: 1px solid #fff; }

thead {
  text-align: center; }

.table-responsive {
  width: 100%;
  overflow-x: auto; }

.tr-active {
  position: relative;
  overflow: hidden; }
  .tr-active td {
    overflow: hidden;
    position: relative; }
    .tr-active td:first-child:before {
      content: '';
      position: absolute;
      left: -5px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      height: 46px;
      width: 20px;
      background: url("../img/decor-table.svg") no-repeat center;
        background-size: 100%; }
    .tr-active td:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 215px;
      height: 100px;
      background: url("../img/decor-table2.svg") no-repeat center;
        background-size: 100%; }

.statistics-information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0 30px 78px; }

.statistics-information-box {
  width: 33.3%;
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #000;
  font-family: "Roboto", sans-serif; }
  .statistics-information-box .box-color {
    margin: 0 7px 0 0;
    width: 77px;
    height: 39px;
    min-width: 77px; }

.bg-red-table {
  background: #EB5757; }

.bg-grey-table {
  background: #E0E0E0; }

.bg-green-table {
  background: #27AE60; }

.appeal {
  width: 100%;
  background: rgba(111, 207, 151, 0.2);
  padding: 30px 80px; }

.decor-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333333;
  font-size: 18px;
  font-family: "Roboto", sans-serif; }
  .decor-list li {
    width: 50%;
    position: relative;
    margin: 0 0 18px;
    padding: 0 0 0 40px; }
    .decor-list li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      background: url("../img/check.svg") no-repeat center;
        background-size: contain; }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header .menu, footer .menu {
    display: none; }
  header .logo, footer .logo {
    margin: 0 auto 0 0; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-slider-item__images {
    margin: 40px 0 0; }
  .main-slider-item {
    margin: 20px 0 0; }
  .img-map {
    max-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .home {
    padding: 40px 0; }
  .statistics-box-num {
    font-size: 30px; }
  .main-slider-item__images h3 {
    font-size: 24px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .line-top h2, h2 {
    font-size: 30px; }
  h1 {
    font-size: 40px;
    margin: 0 0 30px; }
  .box-text {
    font-size: 16px; }
  .page-contacts {
    padding: 35px 0 45px; }
  .what-for-item h3 {
    font-size: 24px;
    line-height: normal; }
  .reviews-box {
    padding: 20px;
    margin: 30px 0 0; }
    .reviews-box h3 {
      margin: 20px 0 0; }
  .question {
    padding: 40px 0 30px; }
  .reviews, .what-for {
    padding: 40px 0; }
  .what-for-item {
    font-size: 16px; }
  .report-box-title {
    padding: 20px; }
    .report-box-title h2 {
      font-size: 20px; }
  .report-box-content {
    padding: 20px; }
  .report-box-content .attention {
    margin: 40px 0 0; }
  .report-box-bg {
    max-width: 300px; }
  .report-box-img {
    position: relative;
    top: 0;
    right: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto 20px; }
  .report-box-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .report-box-sub .report-box-content {
    padding: 20px 10px; }
  .report-box-title {
    padding: 20px; }
    .report-box-title h3 {
      font-size: 22px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 650px) {
  header .header-item__content {
    display: none; }
  header .header-item__icon {
    margin: 0; }
  footer .logo {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 10px; }
  footer .header-item {
    margin: 0 auto; }
  .header-item__content a {
    font-size: 14px; }
  h1 {
    font-size: 30px;
    margin: 0 0 20px; }
  .line-top h2, h2 {
    font-size: 26px; }
  .list-info {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
  .report-box-content h4 {
    font-size: 20px;
    margin: 0 0 20px; }
  .appeal {
    padding: 20px; }
  .statistics-information {
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .statistics-information-box {
    width: 100%; }
  .decor-list {
    font-size: 15px; } }

@media only screen and (max-width: 576px) {
  .statistics-box {
    margin: 30px 0 0; }
  .main-slider-item__images h3 {
    font-size: 16px; }
  .main-slider-item__img {
    max-width: 100%; }
  .report-page .attention-footer {
    padding: 20px; }
  .ball {
    position: relative;
    margin: 20px 0;
    right: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
    font-size: 30px;
    padding: 10px; }
  .decor-list li {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .logo-icon {
    width: 40px;
    height: 40px;
    min-width: 40px; }
  .logo {
    font-size: 10px; }
  .breadcrumb {
    font-size: 14px; }
  .line-top, footer {
    padding: 20px 0; }
  header {
    padding: 15px 0; }
  .list-pay {
    margin: 30px 0 10px; }
    .list-pay li {
      margin-right: 20px; }
  .table-info li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .table-info li span {
      width: 100%; }
    .table-info li p {
      width: 100%; }
  .balls-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .balls-box-val {
    width: 100%;
    text-align: center; }
  .balls-box-content {
    width: 100%;
    padding: 10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
